{{log entry}}
<section data-id="{{entry._id}}">
  <h3>{{entry.title}}: {{entry.description}}</h3>
  <button  data-id="{{entry._id}}" type="submit" class="update-button">Update</button>
  <button  data-id="{{entry._id}}" type="submit" class="complete-button">Complete</button>
  <button data-id="{{entry._id}}" type="submit" class="delete-button">Delete</button>
</section>
