
{{log entry}}
<section data-id="{{entry._id}}">
  <h3 class="completed-{{entry.completed}}">{{entry.title}}: {{entry.description}}</h3>
  <button data-id="{{entry._id}}" type="submit" class="update-button">Update</button>

  <button data-completed="{{entry.completed}}" data-id="{{entry._id}}" type="submit" class="toggle-button">
    {{#if entry.completed}}
      Restore
      {{else}}
      Complete
    {{/if}}
  </button>
  <button data-id="{{entry._id}}" type="submit" class="delete-button">Delete</button>
</section>
